/*whole body pattern*/
body{
	max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    font-weight: none;
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
	color: #666666;

    position: relative;
}

article{
    width: 70%;
    box-sizing: border-box;
}

/*aside*/
aside{
	position: absolute;
		top: 25%;
		right: 0px;
	width: 30%;
	height: 70%;
	box-sizing: border-box;
	margin-left: 10px;	
	padding: 1em;

	background-color: #EEF5DF;
	font-size: 14px;
	box-sizing: border-box;

}

aside > ul{
	list-style-type: none;
}

a{
    text-decoration:none;
}

a:hover {
	color: #0099cb;
	text-decoration:none;
}

/*header*/

body > header{
	margin-top: 2em;
	height: 100px;
	display: flex;
}

header > #top_logo{
	width: 50%;
}
header > #top_menu{
	flex: 1;
}

header > div > ul{
	float: right;
	font-size: 12px;
	list-style-type: none;
}


.nav_01, .nav_02{
	padding: 5px 5px;
	text-decoration: none;
}

#main_menu > ul{
	padding: 1em;
	list-style-type: none;
	display: block;
	display: flex;
}





/*artiest*/

h2{
	font-size: 1em;
}

div > header{
	display: flex;
}

div > header > span{
	padding: 30px;
 	width: 70%;
}

div > header > .side_01, .side_02{
	font-size: 12px;
	width: 150px;
	list-style-type: none;
}

div > .perform{
	display: flex;
	margin-top: 1em;
}

div > div > #perform_intro{
	flex: 1;
	height:300px;
	background-color: black;
	color:white;
	font-size: 16px;
	padding: 2em;
	box-sizing: border-box;
}

/*article*/
/*曲目部分*/
#concert_lineup{
	list-style-type: none;
	font-size: 14px;
	background-color: #EEF5DF;
	margin-right:10px; 
	padding-left: 0px;
	border: 1px solid #cccccc;

}

#concert_lineup li{
	padding: 3px 0;

}

#concert_lineup > li:nth-child(1), :nth-child(9), :nth-child(20){
	background-color: #ffffff;
}

article div .line_up{
	display: inline-block;
	width:80px;
	text-align : center;

}

article div .concert_songs, .singers{
	display: inline-block;
	width:300px;
}
article div .concert_space{
	display: inline-block;
	width:680px;
	text-align : center;
}


/*player_intro*/
article div .intro_player01, .intro_player02, .intro_player03{
	width: 680px;
	display: flex;
	box-sizing: border-box;

}

article div .photoflex{
	width: 45%; 
}

article div .concert_player{

	border: 2px solid #ffffff;
	margin: 5em 0 0 0;
	background-size: cover;

}

article div .concert_player_s{

	border: 2px solid #ffffff;
	margin: 1em 0 0 0;
	background-size: cover;

}

.intro{
	flex:55%;
	display: block;
}

/*footer*/
footer{
	display: flex;
}

footer > p{
	flex:15%;
}

footer > span{
	flex:30%;
}

footer > ul{
	flex:55%;
	list-style-type: none;
}

footer > ul > li{
	float: right;
}

